<div class="sparkles" aria-hidden="true">
    <span>&#10022;</span><span class="sparkles__code">3O2Y</span><span>&#10022;&nbsp;&#10022;&nbsp;&#10022;</span><span class="sparkles__code">A113</span><span>&#10022;</span>
</div>
