{{> head}}

<main class="main" id="top">
    {{#if @renderer.isFirstPage}}
        <section class="hero hero--compact">
            {{> sparkles}}
            <h1 class="hero__title">
                {{#if @config.custom.heroTitle}}
                    {{@config.custom.heroTitle}}
                {{else}}
                    {{@website.name}}
                {{/if}}
            </h1>
        </section>
    {{/if}}

    <section class="feed">
        {{#each posts}}
            {{> feed-item}}
        {{/each}}
    </section>

    {{> pagination}}
</main>

{{> footer}}
